@import '~@angular/material/theming';

// =====================================
// always include only once per project
// =====================================
@include mat-core();

// =====================================
// import our custom themes
// =====================================
@import 'themes.scss';

// =====================================
// Define the light theme
// =====================================
.light-theme {
  @include angular-material-theme($light-theme);
}

.dark-theme {
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($dark-theme);
  background-color: black;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

