$my-theme-primary: mat-palette($mat-indigo, 500, 200, 800);
$my-theme-accent: mat-palette($mat-cyan);
$my-theme-warn: mat-palette($mat-deep-orange, A200);

$light-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);

// ====================================
// Make sure to have a dark background
// Dropdowns will blend in with light
// backgrounds.
// ====================================
$dark-theme: mat-dark-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);